body	{
	text-align: center;
	font-family: Verdana;
	background-image: url(Imagens/twitch.jpg);
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

h1 { 
	font-size: 70px;
	padding-top: 225px;
	text-shadow: 2.5px 2.5px 2.5px red;
	margin-bottom: 15px;
 }

 .subtitle {

 	font-size: 16px;
 	padding-left: 400px;

 }


.description {

	margin-top: 305px;
	margin-bottom: 58px;
}

.box {
	text-decoration: none;
	background-color: rgb( 200, 100 , 200);
	padding: 10px 15px 10px 15px;
	font-size: 20px;
	border-radius: 4px;

}

.box:hover {
	background-color: rgba(100, 100, 255, 0.7);
	color: white;
}
.socials {
	list-style: none;
 	padding-left: 0;
 	margin-top: 90px;
 }

 .socials li { 

 	display: inline;
 
 }

 .socials a {
 	color: white;
 	text-decoration: none;
 	font-size: 24px;
 }